@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,500&display=swap");

@media screen and (min-width: 851px) {
  .navbar {
    display: flex;
    padding-left: 1rem;
    position: sticky;
    height: 100px;
    width: 100%;
    background-color: #6871fa;
    color: white;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4rem;
    font-family: "Josefin Sans", sans-serif;
    text-decoration: none;
  }

  .name-logo {
    font-size: 2rem;
  }

  li,
  a {
    list-style-type: none;
    text-decoration: none;
    color: white;
    transition: 0.5s;
  }

  li:hover {
    transform: scale(1.25);
  }

  ul {
    display: flex;
    width: 40%;
    justify-content: space-evenly;
  }

  body {
    background-color: #585a7a;
  }

  img {
    width: 200px;
    height: 200px;
    border-radius: 0;
  }

  h1 {
    color: white;
    font-family: "Josefin Sans", sans-serif;
  }

  h3 {
    color: white;
    font-family: "Josefin Sans", sans-serif;
  }

  .intro-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* background-color: yellowgreen; */
  }
}

@media screen and (max-width: 850px) {
  ul {
    display: flex;
    height: 30vh;
    padding: 1rem;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
  }

  .navbar {
    width: 20vw;
    padding: 1rem;
    min-height: 100vh;
    height: auto;
    background-color: #6871fa;
    color: white;
    font-family: "Josefin Sans", sans-serif;
    text-align: center;
    font-size: 1.4rem;
  }

  li,
  a {
    list-style-type: none;
    text-decoration: none;
    color: white;
    transition: 0.5s;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 20%;
  }

  a:hover {
    transform: scale(1.25);
    color: #303f7a;
  }

  .name-logo {
    font-size: 2rem;
  }

  body {
    font-size: 30px;
    background-color: #585a7a;
  }

  h1 {
    color: white;
    font-family: "Josefin Sans", sans-serif;
  }

  h3 {
    color: white;
    font-family: "Josefin Sans", sans-serif;
  }

  .intro-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    /* background-color: yellow; */
  }

  .intro-page {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    padding: 1rem;
  }
}
