@import url("./indexstyle.css");

* {
  margin: 0;
  box-sizing: border-box;
}

.interests-main-container {
  margin: 8px -16px;
  gap: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 2fr));
}

.interests-main-container,
.interests-main-container > .interests-blocks {
  padding: 10px;
}

.interests-blocks {
  float: left;
  width: 100%;
  height: 100%;
  /* background-color: rgb(162, 125, 163); */
}

.interests-main-container:after {
  content: "";
  display: table;
  clear: both;
}

.interests-content {
  background-color: white;
  padding: 10px;
}

.interests-content img {
  width: 100%;
  border-radius: 0;
}

@media screen and (max-width: 850px) {
  .interests-blocks {
    width: 100%;
    height: 100%;
  }

  .interests-main-container {
    justify-content: space-between;
    width: 80vw;
    margin-left: 1rem;
    padding: 5%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 2fr));
  }

  .interests-page {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    min-width: 100vw;
    min-height: 100vh;
    width: auto;
    height: auto;
  }

  li,
  a {
    font-size: 1rem;
    text-align: left;
  }

  ul {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .name-logo {
    font-size: 1rem;
  }
}
